/*--------------- Generals ---------------*/

/*---------- Reset ----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------- Custum properties ---------*/
:root{
    --orange: #FF6900;
    --red: #FF0000;
    --green: #008000;
    --black: #15110D;
}

/*---------- Debug ----------*/
.debug{
    border: 1px solid blue;
}

/*---------- Text formatting ----------*/
body{
    font-family:  "Roboto", sans-serif;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

.txt-white{
    color: white;
}

.font-light{
    font-weight: 200;
}
/*---------- Utility flex ----------*/
.d-flex{
    display: flex;
}

.j-space-between{
    justify-content: space-between;
}

.j-center{
    justify-content: center;
}

.j-end{
    justify-content: end;
}

.a-center{
    align-items: center;
}

.d-column{
    flex-direction: column;
}

.d-row{
    flex-direction: row;
}

.d-row-reverse{
    flex-direction: row-reverse;
}

.f-wrap{
    flex-wrap: wrap;
}

/*---------- Container ---------*/
.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}


/*--------------- Index ---------------*/

/*---------- Header ----------*/
header{
    background-color: var(--orange);
    height: 70px;
    width: 100%;
    position: sticky;
}

.logo > img{
    height: 28px;
}

header > div > div{
    width: 25%;
}

.gender-list > a{
    padding-right: 5px;
}

.utility-items > a{
    padding-left: 8px;
}

.shadow{
    box-shadow: 0px 0px 10px 0px #111; 
}

/*---------- Main ----------*/
main{
    height: 600px;
}




/*---------- Footer ----------*/
footer{
    background-color: var(--black);
    height: 80px;
}




